<div class="card" style="margin-top: 15px; width:100%;" >
  <div class="card-header">
    <h5 class="float-left" style="margin-bottom: 0; text-align:middle;">Add movie</h5>
    <button type="button" (click)="saveMovie()" class="btn btn-primary float-right">Save movie</button>
  </div>
  <div class="card-body">
    <div class="forms">
      <div class="row marg-left">
        <div class="col-md-4">
          <label class="row" for="title">Movie Title(*):</label>
          <input class="row" type="text" id="title" name="title" [value]="movie.title" (input)="movie.title = $event.target.value" (click)="resetMsg()">
        </div>
        <div class="col-md-4">
          <label class="row" for="title">Release date(*):</label>
          <input class="row" type="date" id="date" name="date" [max]="today()" (input)="movie.release = parseDate($event.target.value)" (click)="resetMsg()">
        </div>
        <div class="col-md-4">
          <label class="row" for="file">Movie image(*):</label>
          <input class="row" (change)="convertToBase64($event)" type="file" id="file" name="file" accept="image/*" (click)="resetMsg()">
        </div>
      </div>
        <label for="description" class="marg-top row marg-left">Description:</label>
        <textarea id="description" name="description" class="text-description row marg-left" [value]="movie.description" (input)="movie.description = $event.target.value"></textarea>
      <div *ngIf="showError" class="alert alert-danger marg-top">Error! Please, fill in all the required fields marked with an asterisk before click in Save movie</div>
    </div>
  </div>
</div>
