<div class="row" style="margin-top: 15px;">
  <button type="button" [routerLink]="['/add']" class="btn btn-primary ml-auto">Add new movie</button>
</div>
<div class="row">
  <div class="card" style="margin-top: 15px; width:100%;" >
    <div class="card-header">
      <div *ngIf="movie!=undefined">
        <h5 class="float-left" style="margin-bottom: 0;">{{ movie.title }}</h5>
        <p class="float-right" style="margin-bottom: 0;">
          RELEASE DATE: {{ movie.release | date:'MM/dd/yyyy' }}
        </p>
      </div>
      <div *ngIf="movie==undefined">
        <h5 class="float-left" style="margin-bottom: 0;">
          Not found or selected movie
        </h5>
      </div>
    </div>
    <div *ngIf="movie!=undefined">
      <div class="card-body">
        <div class="img-box">
          <div *ngIf="!empty(movie.image)" >
            <img class="card-img-top" [src]="'data:image/jpg;base64,' + movie.image" alt="No image">
          </div>
          <div *ngIf="empty(movie.image)" >
            <p class="no-image">No image</p>
          </div>
        </div>
        <p class="card-text"><strong>Movie description: </strong>{{ movie.description }}</p>
      </div>
    </div>

  </div>
</div>

