.img-box{
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.no-image{
  margin-bottom: 0;
  color: white;
}
