.content-icon{
  /*color:black !important;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-icon:hover{
  /*background-color: gray;*/
  color: red;
}

.trash{
  font-size: 1.2em;
}

.trash:hover{

}
