<div class="list-group">
  <a *ngFor="let movie of movies" routerLinkActive="active" [routerLink]="['/movie', movie.id]" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-10">
        <h3>{{ movie.title }}</h3>
        <p>Release date: {{ movie.release | date:'MM/dd/yyyy' }}</p>
      </div>
      <div class="col-md-2 content-icon">
        <span class="trash" (click)="delete(movie)">
          <a title="Delete element" class="fas fa-trash-alt"></a>
        </span>
      </div>
    </div>
  </a>
</div>


