<h5>TOP 5 Movies</h5>
<ul class="list-group list-group-flush">
  <li *ngFor="let movie of movies" class="list-group-item">
    <div class="row">
      <div class="col-md-3">
        <img [src]="movie['image']">
      </div>
      <div class="col-md-9">
        <h5 class="row">
          {{ movie['title'] }}
        </h5>
        <div class="row">
          Release date: {{ moment(movie['release']).format('MM/DD/yyyy') }}
        </div>
      </div>
    </div>
  </li>
</ul>
